
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
    background-image: url('photo/img_36.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-size: 2em;
}

header {
    text-align: center;
    margin-bottom: 60px;
}

h1 {
    color: #2c3e50;
    font-size: 1.5em;
}

section h2 {
    color: #34495e;
    margin-top: 20px;
    font-size: 1.0em;
}

section#goal p {
    font-size: 1.5em;
    text-align: justify;
}

#stages ol {
    list-style-position: inside;
}

#stages li {
    margin-bottom: 20px;
}

#stages h3 {
    font-size: 1.5em;
    color: #e67e22;
}

#stages p {
    margin-top: 10px;
    font-size: 1.5em;
}

#stages img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 10px;
}

footer {
    text-align: center;
    margin-top: 40px;
    font-size: 1.5em;
    color: #7f8c8d;
}

footer p {
    margin: 10px 0;
}
